*, body, html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0rem;
}


.btn.btn-block {
    width: 100%;
    display: block;
}

/* product card*/
.product-card{
    position: relative;

}

.product-card .badge{
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0px;
}


.cart-qty{
    position: relative;
}
.cart-qty .badge{
    position: absolute;
    top:-10px;
    font-size:12px;
}
